@import "@fontsource/cormorant-upright/400.css";
// Saves 33kB
// @import "@fontsource/cormorant-upright/500.css";

$xs: 600px;
$sm: 960px;
$md: 1264px;
$lg: 1904px;

:root {
  font-family: "Cormorant Upright", serif;
  font-size: 20px;
}

p,
li,
td,
a,
span,
label,
.textField {
  font-size: 20px;
  line-height: 1.3em;
}

th {
  font-size: 22px;
  font-weight: 500;
}

h1 {
  font-size: 2.8rem;
  font-weight: 500;
  margin: 0.7em 0;
  text-align: center;

  @media (max-width: $sm) {
    font-size: 2.4rem;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  margin: 0.7em 0;

  @media (max-width: $sm) {
    font-size: 1.7rem;
  }
}

h3 {
  font-size: 1.75rem;
  font-weight: 500;
  margin: 0;

  @media (max-width: $sm) {
    font-size: 1.5rem;
  }
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
}

h5 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
}

h6 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0;
}

